@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200;600&display=swap');


*{
    margin:0;
}
   
nav{
    display: flex;
    justify-content: space-between; 
    position: fixed; 
    height: 70px ;
    background-color: #ffffff;
    top: 0px;
    right: 0px;
    left: 0px;
}

.links-section{
    display:flex;
    width: 50vw;
    margin: 0px 30px 10px 120px;
    align-items: center;
}

.links-section img{
    display: flex;
    width: 40px;
    height: 40px;
}

.each-link{
    padding: 30px;
    height: 0px;
    margin-bottom: 17px;
    font-size: 16px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: bold;   
}

.each-link a{
    text-decoration: none;
    color: black;
}

.search-bar-section{
    display: flex;
    align-items: center;
    width: 30vw;
    justify-content: space-between;
    margin: 0px 120px 10px 0px;
}

.input-section input{
    width: 250px;
    border-radius:30px;
    height: 30px;
    border: none;
    box-shadow: 1px 1px rgb(173, 165, 165);
    text-align: center;
}

.input-section i{
   padding-right: 5px;
   color: gray;
}

.account{
    display: flex;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    outline: 1px solid gray;
    
}

.account i{
    color: gray;
}

.account:hover{
    outline: 1px solid black;
    cursor: pointer;
}

.nav-2{
    background-color: rgb(2, 61, 2);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 70px;
}

.text-section{
    color: white ;
    font-size: 23px;
    display: flex;
    align-items: center;
    margin-left: 150px;
    font-family: 'Ysabeau Office', sans-serif;
    
}

.info-more{
    outline: 1px solid white;
    width: 100px;
    height: 30px;
    color:white ;
    font-size: 15px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: bold;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-right: 150px; 
}

.info-more a{
    text-decoration: none;
    color: #ffffff;
}

.category-section{
    margin-top: 20px;
}

.category{
    display: flex;
    margin: 1vw 8vw;
    justify-content: space-between;
    text-align: center;
    
}
.category-section h4{
    color:rgb(2, 61, 2);
    font-weight: bolder;
    padding-top: 20px;
    margin-left: 8vw;
    font-size: 25px;
    font-family: 'Ysabeau Office', sans-serif;
}

.each-category img{
    width: 100px;
    border-radius: 100px;
   
}
.each-category img:hover{
    outline: 2px solid rgb(2, 61, 2);
    cursor: pointer;
}

.each-category a{
     text-decoration: none;
     color: black;
}

.special{
    background-color: rgb(220, 190, 151);
    display: flex;
    margin: 80px 120px 80px 120px;
    border-radius: 10px;
    padding: 10px;
}

.order-special{
    display: flex;
    justify-content: flex-end;
    width: 30vw;
}

.order-special button{
    height: 30px;
    border: none;
    box-shadow: 2px 2px  gray;
    border-radius: 30px;
    background-color:  rgb(5, 94, 5) ;
    color: #ffffff;
    margin: 140px 0px 0px;
    width: 150px;
    height: 40px;
}

.order-special button:hover{
    cursor: pointer;
   background-color: black;
}

.first-half{
    font-family: 'Ysabeau Office', sans-serif;
    margin-top: 10px;
    padding-left: 50px;
}

.first-half p{
    margin-top: 10px;
}
.first-half h4{
    margin-top: 10px;
    font-size: 25px;
}

.second-half{
   margin-top: 40px;
}  

.from-text p{
   font-family: 'Ysabeau Office', sans-serif;
   font-size: small;
   padding-left: 50px;
   line-height: 10px;
   margin-bottom: 10px;
}

.from-price p{
    padding-left: 50px;
    line-height:10px;
    font-size: 13px;
}

.top-texts{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}

.top-texts a{
    text-decoration: none;
}

.top-texts h4{
    color:rgb(2, 61, 2);
    font-weight: bolder;
    margin-left: 8vw;
    font-size: 25px;
    font-family: 'Ysabeau Office', sans-serif;
}

.top-texts h6{
    color:rgb(5, 94, 5);
    font-size: 15px;
    font-weight: bold;
    margin-right: 8vw;  
}

.recommendations-section{
    background-color: rgb(238, 237, 237);
    height: 270px;  
}

.recommendations{
    display: flex;
    justify-content: space-between;
    margin: 30px 120px 20px 120px;
}

.each-recommendations{
    display: flex;
    background-color: white;
    width: 350px;
    height: 150px;
    border-radius: 8px;
}

.firsthalf-recommendations{
    margin: 15px 0px 15px 15px;
}

.secondhalf-recommendations{
    margin: 15px 0px 15px 15px;
    width: 220px;
}

.firsthalf-recommendations img{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.firsthalf-recommendations p{
    margin-top: 10px;
}

.secondhalf-recommendations h6{
    font-size: 14px;
}

.secondhalf-recommendations p{
    margin-top: 10px;
    font-size: 9px;
    color: grey;
    line-height: 1px;
}

.secondhalf-recommendations button{
    background-color: rgb(5, 94, 5);
    border-radius: 30px;
    box-shadow:1px 1px #a3a3a3ad;
    border: none;
    color: #ffffff;
    margin: 35px 0px 0px 120px;
    width: 90px;
    height: 35px;
    font-weight: bold;
}

.secondhalf-recommendations button:hover{
    background-color: black;
    cursor: pointer; 
}

.coffee-culture{
    background-color:  rgb(238, 237, 237);
    height: 67vh;
    margin-top: 50px;
}

.coffee-top{
    margin-bottom: 20px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.coffee-top a{
    text-decoration: none;
}

.coffee-image{
    background-color: rgba(0,0,0,0.5);
    margin: 0px 8vw 50px 8vw;
    height: 23vw;
    border-radius: 8px;
    background-image: url(https://preprodtsbstorage.blob.core.windows.net/cms/uploads/web_ab5a0057ab.jpg);
    background-blend-mode: darken;
    object-fit: cover;
    vertical-align: middle;
    background-size: 100%;
    background-position: 0px 2030px;
    color: #ffffff;
}

.coffee-top  h6{
    margin-right: 8vw;
    color:rgb(5, 94, 5);
    font-size: 14px;
}

.coffee-top h1{
    font-weight: bold;
    margin-left: 8vw;
    color:rgb(2, 61, 2);
}
.coffee-texts{
    padding-top: 15px;
    margin: 0px 0px 150px 35px;
}

.coffee-texts h6{
    font-size: 10px;
    background-color: rgb(217, 227, 218);
    width: 80px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(6, 151, 6);
}

.coffee-more{
    margin-left: 35px;
}

.coffee-more a{
    text-decoration: none;
}

.coffee-more h3{
    margin-bottom: 15px;
    font-size: 25px;
}

.coffee-more h6{
    font-weight: 400;
    margin-bottom: 35px;
    font-size: 15px;
}

.coffee-more button{
    border-radius: 30px;
    width: 15vw;
    height: 30px;
    border: none;
    font-size: small;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-more button:hover{
    cursor: pointer;
    outline: 2px solid black;
}

.starbucks-footer{
    background-color: rgb(2, 61, 2);
    height: 40vh;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    padding: 70px 100px 70px 100px;
    color: #ffffff;
}

.each-footer a{
    text-decoration: none;
    color: white
}

.starbucks-footer img{
    height: 62px;
    width: 62px;
}

.sub-footer p {
    margin: 20px 0px 20px 0px ;
}

.each-footer img{
    width: 194px;
    height: 62px;
}

.sub-footer img{
   width: 32px;
   height: 32px;
   margin-top: 10px;
} 

.footer-bottom{
    background-color: rgb(2, 61, 2);
    border-top: 1px solid white;
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.bottom-first{
    display: flex;
}

.footer-bottom h6{
   font-size: 10px;
   font-weight: lighter;
   
}

.footer-bottom a{
    text-decoration: none;
    color:#ffffff;
}

.each-footer h5{
    font-size: 18px;
   
}